.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: azure;
}
.Header-Row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo{
  margin : 20px;
  font-size: 20px;
  font-style: italic
}
li{
  margin : 10px;
  list-style: none;
}
li a {
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 75%;
}

.video-item img {
  max-width: 64px
}

.viedo-detail .details
{
  margin-top:  10px;
  padding:  10px;
  border: 1 px solid #ddd;
  border-radius: 4px;

}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee; 
}