
@media screen and (max-width:768px){

  .videos-container{
    display:flex;
    flex-direction: column;
  }
}


@media screen and (max-width:480px){

  .videos-container{
    display:flex;
    flex-direction: column;
  }
}

@media screen and (max-width:640px){

  .videos-container{
    display:flex;
    flex-direction: column;
  }
}


.videos-container{
  display:flex;
  flex-direction: row;
}


.search-bar{
  margin: 20px;
  text-align: center;
  
}

.search-bar input{
  width: 50%;
  background: #f2f2f2;
  padding :10px;
  outline: none;
  border-style: none none solid none;
  font-size:18pt;
  height:30px;
  width:500px;
  
}

.video-item img {
  max-width: 64px;
}

.viedo-detail .details
{
  margin-top:  10px;
  padding:  10px;
  border: 2 px solid #ddd;
  border-radius: 4px;

}

.list-group-item{
  cursor: pointer;
  width: 100%;
  
}

.list-group-item:hover{
  background-color: bisque;
}

.loading{
  margin : 20px;
  font-size: 30px;
  font-style: bold;
  color: darkgrey;
}


.video-list media{
  background-color: pink;
}

.list-group-item{
background-color: aliceblue;
padding: 10px;
}
 
.videoListSection{
  margin-bottom: 10px;
} 

.details{
 padding: 10px;
 font: 100;
 color:black;
 border: 1px;
}

.detailFont{
 font-size: 1.2em;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.media-heading{
  padding: 10px;
}

.media-left{
  padding: 2px; 
  
}

.media-object{
  padding: 1px;

}